In [1]:
import pyspark
import pandas as pd
from pyspark.sql import SparkSession

In [2]:
pizza_dataset_path = "../datasets/pizza_sales/order_details.csv"

In [3]:
data = pd.read_csv(pizza_dataset_path)
data

       order_details_id  order_id       pizza_id  quantity
0                     1         1     hawaiian_m         1
1                     2         2  classic_dlx_m         1
2                     3         2  five_cheese_l         1
3                     4         2    ital_supr_l         1
4                     5         2     mexicana_m         1
...                 ...       ...            ...       ...
48615             48616     21348  ckn_alfredo_m         1
48616             48617     21348  four_cheese_l         1
48617             48618     21348   napolitana_s         1
48618             48619     21349     mexicana_l         1
48619             48620     21350      bbq_ckn_s         1

[48620 rows x 4 columns]

In [4]:
session = SparkSession.builder.appName('Learning Spark').getOrCreate()
session

In [5]:
data = session.read.csv(pizza_dataset_path)

In [6]:
data.show()

+----------------+--------+--------------+--------+
|             _c0|     _c1|           _c2|     _c3|
+----------------+--------+--------------+--------+
|order_details_id|order_id|      pizza_id|quantity|
|               1|       1|    hawaiian_m|       1|
|               2|       2| classic_dlx_m|       1|
|               3|       2| five_cheese_l|       1|
|               4|       2|   ital_supr_l|       1|
|               5|       2|    mexicana_m|       1|
|               6|       2|    thai_ckn_l|       1|
|               7|       3|   ital_supr_m|       1|
|               8|       3|  prsc_argla_l|       1|
|               9|       4|   ital_supr_m|       1|
|              10|       5|   ital_supr_m|       1|
|              11|       6|     bbq_ckn_s|       1|
|              12|       6|   the_greek_s|       1|
|              13|       7|spinach_supr_s|       1|
|              14|       8|spinach_supr_s|       1|
|              15|       9| classic_dlx_s|       1|
|              16|       9|green_garden_s|       1|
|              17|       9| ital_cpcllo_l|       1|
|              18|       9|   ital_supr_l|       1|
|              19|       9|   ital_supr_s|       1|
+----------------+--------+--------------+--------+
only showing top 20 rows

In [12]:
df = session.read.option('header', 'true').csv(pizza_dataset_path)

In [14]:
df.show()

+----------------+--------+--------------+--------+
|order_details_id|order_id|      pizza_id|quantity|
+----------------+--------+--------------+--------+
|               1|       1|    hawaiian_m|       1|
|               2|       2| classic_dlx_m|       1|
|               3|       2| five_cheese_l|       1|
|               4|       2|   ital_supr_l|       1|
|               5|       2|    mexicana_m|       1|
|               6|       2|    thai_ckn_l|       1|
|               7|       3|   ital_supr_m|       1|
|               8|       3|  prsc_argla_l|       1|
|               9|       4|   ital_supr_m|       1|
|              10|       5|   ital_supr_m|       1|
|              11|       6|     bbq_ckn_s|       1|
|              12|       6|   the_greek_s|       1|
|              13|       7|spinach_supr_s|       1|
|              14|       8|spinach_supr_s|       1|
|              15|       9| classic_dlx_s|       1|
|              16|       9|green_garden_s|       1|
|              17|       9| ital_cpcllo_l|       1|
|              18|       9|   ital_supr_l|       1|
|              19|       9|   ital_supr_s|       1|
|              20|       9|    mexicana_s|       1|
+----------------+--------+--------------+--------+
only showing top 20 rows

In [16]:
df.printSchema()

root
 |-- order_details_id: string (nullable = true)
 |-- order_id: string (nullable = true)
 |-- pizza_id: string (nullable = true)
 |-- quantity: string (nullable = true)