# Pyspark Handling Missing Value
- Dropping Columns
- Dropping Rows
- Various Parameter in Droppoing functionalities
- Handling Missing vlaues by Mean, Median, and Mode

In [1]:
import pyspark
import pandas as pd
from pyspark.sql import SparkSession

In [2]:
pizza_dataset_path = "../datasets/pizza_sales/order_details.v2.csv"

In [3]:
spark = SparkSession.builder.appName('Learning Spark').getOrCreate()
spark

In [4]:
data = spark.read.option('header', 'true').csv(pizza_dataset_path, inferSchema=True)

## Dropping Colomn

In [57]:
dropped_colomn_data = data.drop('pizza_id')

In [58]:
dropped_colomn_data.show()

+----------------+--------+--------+
|order_details_id|order_id|quantity|
+----------------+--------+--------+
|               1|       1|       1|
|               2|       2|       1|
|            NULL|    NULL|    NULL|
|               4|       2|       1|
|               5|    NULL|       1|
|               6|       2|       1|
|            NULL|    NULL|       1|
|               8|       3|       1|
|               9|       4|       1|
|              10|       5|       1|
|              11|       6|       1|
|              12|       6|       1|
|              13|       7|       1|
|              14|       8|       1|
|              15|       9|       1|
|              16|       9|       1|
|              17|       9|       1|
|              18|    NULL|    NULL|
|              19|       9|       1|
|              20|       9|       1|
+----------------+--------+--------+
only showing top 20 rows

## Dropping Row

In [52]:
data.na.drop().show()

+----------------+--------+--------------+--------+
|order_details_id|order_id|      pizza_id|quantity|
+----------------+--------+--------------+--------+
|               1|       1|    hawaiian_m|       1|
|               2|       2| classic_dlx_m|       1|
|               4|       2|   ital_supr_l|       1|
|               6|       2|    thai_ckn_l|       1|
|               8|       3|  prsc_argla_l|       1|
|               9|       4|   ital_supr_m|       1|
|              10|       5|   ital_supr_m|       1|
|              11|       6|     bbq_ckn_s|       1|
|              12|       6|   the_greek_s|       1|
|              13|       7|spinach_supr_s|       1|
|              14|       8|spinach_supr_s|       1|
|              15|       9| classic_dlx_s|       1|
|              16|       9|green_garden_s|       1|
|              17|       9| ital_cpcllo_l|       1|
|              19|       9|   ital_supr_s|       1|
|              20|       9|    mexicana_s|       1|
|              21|       9|  spicy_ital_l|       1|
|              22|       9|  spin_pesto_l|       1|
|              23|       9|  veggie_veg_s|       1|
|              25|      10|  southw_ckn_l|       1|
+----------------+--------+--------------+--------+
only showing top 20 rows

In [53]:
# drop rows that any elements are null
data.na.drop(how='any').show()

+----------------+--------+--------------+--------+
|order_details_id|order_id|      pizza_id|quantity|
+----------------+--------+--------------+--------+
|               1|       1|    hawaiian_m|       1|
|               2|       2| classic_dlx_m|       1|
|               4|       2|   ital_supr_l|       1|
|               6|       2|    thai_ckn_l|       1|
|               8|       3|  prsc_argla_l|       1|
|               9|       4|   ital_supr_m|       1|
|              10|       5|   ital_supr_m|       1|
|              11|       6|     bbq_ckn_s|       1|
|              12|       6|   the_greek_s|       1|
|              13|       7|spinach_supr_s|       1|
|              14|       8|spinach_supr_s|       1|
|              15|       9| classic_dlx_s|       1|
|              16|       9|green_garden_s|       1|
|              17|       9| ital_cpcllo_l|       1|
|              19|       9|   ital_supr_s|       1|
|              20|       9|    mexicana_s|       1|
|              21|       9|  spicy_ital_l|       1|
|              22|       9|  spin_pesto_l|       1|
|              23|       9|  veggie_veg_s|       1|
|              25|      10|  southw_ckn_l|       1|
+----------------+--------+--------------+--------+
only showing top 20 rows

In [54]:
# drop rows that all elements are null
data.na.drop(how='all').show()

+----------------+--------+--------------+--------+
|order_details_id|order_id|      pizza_id|quantity|
+----------------+--------+--------------+--------+
|               1|       1|    hawaiian_m|       1|
|               2|       2| classic_dlx_m|       1|
|               4|       2|   ital_supr_l|       1|
|               5|    NULL|          NULL|       1|
|               6|       2|    thai_ckn_l|       1|
|            NULL|    NULL|          NULL|       1|
|               8|       3|  prsc_argla_l|       1|
|               9|       4|   ital_supr_m|       1|
|              10|       5|   ital_supr_m|       1|
|              11|       6|     bbq_ckn_s|       1|
|              12|       6|   the_greek_s|       1|
|              13|       7|spinach_supr_s|       1|
|              14|       8|spinach_supr_s|       1|
|              15|       9| classic_dlx_s|       1|
|              16|       9|green_garden_s|       1|
|              17|       9| ital_cpcllo_l|       1|
|              18|    NULL|   ital_supr_l|    NULL|
|              19|       9|   ital_supr_s|       1|
|              20|       9|    mexicana_s|       1|
|              21|       9|  spicy_ital_l|       1|
+----------------+--------+--------------+--------+
only showing top 20 rows

## Threshold

In [55]:
# drop the row if it has less or equal to threshold amount of elements
data.na.drop(how='any', thresh=1).show()

+----------------+--------+--------------+--------+
|order_details_id|order_id|      pizza_id|quantity|
+----------------+--------+--------------+--------+
|               1|       1|    hawaiian_m|       1|
|               2|       2| classic_dlx_m|       1|
|               4|       2|   ital_supr_l|       1|
|               5|    NULL|          NULL|       1|
|               6|       2|    thai_ckn_l|       1|
|            NULL|    NULL|          NULL|       1|
|               8|       3|  prsc_argla_l|       1|
|               9|       4|   ital_supr_m|       1|
|              10|       5|   ital_supr_m|       1|
|              11|       6|     bbq_ckn_s|       1|
|              12|       6|   the_greek_s|       1|
|              13|       7|spinach_supr_s|       1|
|              14|       8|spinach_supr_s|       1|
|              15|       9| classic_dlx_s|       1|
|              16|       9|green_garden_s|       1|
|              17|       9| ital_cpcllo_l|       1|
|              18|    NULL|   ital_supr_l|    NULL|
|              19|       9|   ital_supr_s|       1|
|              20|       9|    mexicana_s|       1|
|              21|       9|  spicy_ital_l|       1|
+----------------+--------+--------------+--------+
only showing top 20 rows

## Subset

In [56]:
# drop the row if elements from a specific colomn is missing
data.na.drop(how='any', subset=['order_id']).show()

+----------------+--------+--------------+--------+
|order_details_id|order_id|      pizza_id|quantity|
+----------------+--------+--------------+--------+
|               1|       1|    hawaiian_m|       1|
|               2|       2| classic_dlx_m|       1|
|               4|       2|   ital_supr_l|       1|
|               6|       2|    thai_ckn_l|       1|
|               8|       3|  prsc_argla_l|       1|
|               9|       4|   ital_supr_m|       1|
|              10|       5|   ital_supr_m|       1|
|              11|       6|     bbq_ckn_s|       1|
|              12|       6|   the_greek_s|       1|
|              13|       7|spinach_supr_s|       1|
|              14|       8|spinach_supr_s|       1|
|              15|       9| classic_dlx_s|       1|
|              16|       9|green_garden_s|       1|
|              17|       9| ital_cpcllo_l|       1|
|              19|       9|   ital_supr_s|       1|
|              20|       9|    mexicana_s|       1|
|              21|       9|  spicy_ital_l|       1|
|              22|       9|  spin_pesto_l|       1|
|              23|       9|  veggie_veg_s|       1|
|              24|      10|          NULL|       1|
+----------------+--------+--------------+--------+
only showing top 20 rows

## Filling Missing value

 Noticed something interesting, you are only allowed to fill it with the same type, if the type is not the same it will not be replaced, e.g., if I want to replace the NULL with "Missing Value" only the string type is going to be replaced, if I want to replace it with -1 all of the number colomns are going to be modified

In [10]:
data.na.fill("Missing Value").show()

+----------------+--------+--------------+--------+
|order_details_id|order_id|      pizza_id|quantity|
+----------------+--------+--------------+--------+
|               1|       1|    hawaiian_m|       1|
|               2|       2| classic_dlx_m|       1|
|            NULL|    NULL| Missing Value|    NULL|
|               4|       2|   ital_supr_l|       1|
|               5|    NULL| Missing Value|       1|
|               6|       2|    thai_ckn_l|       1|
|            NULL|    NULL| Missing Value|       1|
|               8|       3|  prsc_argla_l|       1|
|               9|       4|   ital_supr_m|       1|
|              10|       5|   ital_supr_m|       1|
|              11|       6|     bbq_ckn_s|       1|
|              12|       6|   the_greek_s|       1|
|              13|       7|spinach_supr_s|       1|
|              14|       8|spinach_supr_s|       1|
|              15|       9| classic_dlx_s|       1|
|              16|       9|green_garden_s|       1|
|              17|       9| ital_cpcllo_l|       1|
|              18|    NULL|   ital_supr_l|    NULL|
|              19|       9|   ital_supr_s|       1|
|              20|       9|    mexicana_s|       1|
+----------------+--------+--------------+--------+
only showing top 20 rows

In [11]:
data.na.fill(-1).show()

+----------------+--------+--------------+--------+
|order_details_id|order_id|      pizza_id|quantity|
+----------------+--------+--------------+--------+
|               1|       1|    hawaiian_m|       1|
|               2|       2| classic_dlx_m|       1|
|              -1|      -1|          NULL|      -1|
|               4|       2|   ital_supr_l|       1|
|               5|      -1|          NULL|       1|
|               6|       2|    thai_ckn_l|       1|
|              -1|      -1|          NULL|       1|
|               8|       3|  prsc_argla_l|       1|
|               9|       4|   ital_supr_m|       1|
|              10|       5|   ital_supr_m|       1|
|              11|       6|     bbq_ckn_s|       1|
|              12|       6|   the_greek_s|       1|
|              13|       7|spinach_supr_s|       1|
|              14|       8|spinach_supr_s|       1|
|              15|       9| classic_dlx_s|       1|
|              16|       9|green_garden_s|       1|
|              17|       9| ital_cpcllo_l|       1|
|              18|      -1|   ital_supr_l|      -1|
|              19|       9|   ital_supr_s|       1|
|              20|       9|    mexicana_s|       1|
+----------------+--------+--------------+--------+
only showing top 20 rows

In [7]:
data.na.fill(-1, subset=['order_id']).show()

+----------------+--------+--------------+--------+
|order_details_id|order_id|      pizza_id|quantity|
+----------------+--------+--------------+--------+
|               1|       1|    hawaiian_m|       1|
|               2|       2| classic_dlx_m|       1|
|            NULL|      -1|          NULL|    NULL|
|               4|       2|   ital_supr_l|       1|
|               5|      -1|          NULL|       1|
|               6|       2|    thai_ckn_l|       1|
|            NULL|      -1|          NULL|       1|
|               8|       3|  prsc_argla_l|       1|
|               9|       4|   ital_supr_m|       1|
|              10|       5|   ital_supr_m|       1|
|              11|       6|     bbq_ckn_s|       1|
|              12|       6|   the_greek_s|       1|
|              13|       7|spinach_supr_s|       1|
|              14|       8|spinach_supr_s|       1|
|              15|       9| classic_dlx_s|       1|
|              16|       9|green_garden_s|       1|
|              17|       9| ital_cpcllo_l|       1|
|              18|      -1|   ital_supr_l|    NULL|
|              19|       9|   ital_supr_s|       1|
|              20|       9|    mexicana_s|       1|
+----------------+--------+--------------+--------+
only showing top 20 rows

## Replace the null value with mean or median value

In [8]:
from pyspark.ml.feature import Imputer

In [14]:
imputer = Imputer(
    inputCols=['order_details_id', 'order_id', 'quantity'],
    outputCols=["{}_imputed.".format(c) for c in ['order_details_id', 'order_id', 'quantity']]
).setStrategy("median")

In [15]:
imputer.fit(data).transform(data).show()

+----------------+--------+--------------+--------+-------------------------+-----------------+-----------------+
|order_details_id|order_id|      pizza_id|quantity|order_details_id_imputed.|order_id_imputed.|quantity_imputed.|
+----------------+--------+--------------+--------+-------------------------+-----------------+-----------------+
|               1|       1|    hawaiian_m|       1|                        1|                1|                1|
|               2|       2| classic_dlx_m|       1|                        2|                2|                1|
|            NULL|    NULL|          NULL|    NULL|                    24284|            10675|                1|
|               4|       2|   ital_supr_l|       1|                        4|                2|                1|
|               5|    NULL|          NULL|       1|                        5|            10675|                1|
|               6|       2|    thai_ckn_l|       1|                        6|                2|                1|
|            NULL|    NULL|          NULL|       1|                    24284|            10675|                1|
|               8|       3|  prsc_argla_l|       1|                        8|                3|                1|
|               9|       4|   ital_supr_m|       1|                        9|                4|                1|
|              10|       5|   ital_supr_m|       1|                       10|                5|                1|
|              11|       6|     bbq_ckn_s|       1|                       11|                6|                1|
|              12|       6|   the_greek_s|       1|                       12|                6|                1|
|              13|       7|spinach_supr_s|       1|                       13|                7|                1|
|              14|       8|spinach_supr_s|       1|                       14|                8|                1|
|              15|       9| classic_dlx_s|       1|                       15|                9|                1|
|              16|       9|green_garden_s|       1|                       16|                9|                1|
|              17|       9| ital_cpcllo_l|       1|                       17|                9|                1|
|              18|    NULL|   ital_supr_l|    NULL|                       18|            10675|                1|
|              19|       9|   ital_supr_s|       1|                       19|                9|                1|
|              20|       9|    mexicana_s|       1|                       20|                9|                1|
+----------------+--------+--------------+--------+-------------------------+-----------------+-----------------+
only showing top 20 rows